<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.cvengine.app</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/kaanuluer/Library/Application Support/CVENGINE/runtime/scripts/start.sh</string>
  </array>
  <key>AbandonProcessGroup</key>
  <true/>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <false/>
  <key>WorkingDirectory</key>
  <string>/Users/kaanuluer/Library/Application Support/CVENGINE/runtime</string>
  <key>StandardOutPath</key>
  <string>/Users/kaanuluer/Library/Application Support/CVENGINE/logs/launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/kaanuluer/Library/Application Support/CVENGINE/logs/launchd.err.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/kaanuluer</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/Users/kaanuluer/.nvm/versions/node/v20.19.6/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>CVENGINE_DATA_DIR</key>
    <string>/Users/kaanuluer/Library/Application Support/CVENGINE</string>
  </dict>
</dict>
</plist>
